<div class="container-fluid">
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)" class="shadow p-5 mt-2 col-md-6 col-lg-6 offset-md-3 offset-lg-3 bg-transparent">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input required email type="email" #email="ngModel" placeholder="Email" name="email" ngModel class="form-control p-4 rounded-0">
        </div>
        <span *ngIf="email.errors?.required && email.touched" class="error">
            Email field is required
        </span>
        <span *ngIf="email.errors?.email && email.touched" class="error">
            Email is invalid
        </span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-book"></i></span>
            </div>
            <input #phone="ngModel" required minlength="10" type="tel" name="phone" ngModel placeholder="Phone" class="form-control p-4 rounded-0">
        </div>
        <span *ngIf="phone.errors?.required && phone.touched" class="error">Phone number is required</span>
        <span *ngIf="phone.errors?.minlength && phone.touched" class="error">Phone must be 10 characters</span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input #password="ngModel" minlength="8" required type="password" placeholder="Password" name="password" ngModel class="form-control p-4 rounded-0">
        </div>
        <span *ngIf="password.errors?.required && password.touched" class="error">Password is required</span>
        <span *ngIf="password.errors?.minlength && password.touched" class="error">Password must be atleast 8 characters</span>
        <br>
        <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-secondary"><i class="fa fa-user-plus"></i>JOIN KITUORDER</button>
    </form>
</div>
