<div class="container-fluid">
    <div class="row">
    <div class="col-md-6 col-lg-6 bg-info p-5 mb-0">
        <h2 class="text-light font-weight-bold">KITUORDER</h2>
        <a href="/register" class="btn btn-light">CREATE KITUORDER ACCOUNT</a>
        <img class="img-fluid" [src]=orderimg>
    </div>
    <div class="col-md-6 col-lg-6">
    <form #loginForm="ngForm" id="loginForm" class="shadow rounded-5 mb-3 p-5 mt-2" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input #email="ngModel" type="email" name="email" required email class="form-control p-4" placeholder="email" ngModel>
        </div>
        <span *ngIf="email.errors?.required && email.touched" class="error">
            Email field is required
        </span>
        <span *ngIf="email.errors?.email && email.touched" class="error">
            Email is invalid
        </span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
              </div>
            <input #password="ngModel" type="password" name="password" required minlength="8" class="form-control p-4" placeholder="password" ngModel>
        </div>
        <span *ngIf="password.errors?.required && password.touched" class="error">Password is required</span>
        <span *ngIf="password.errors?.minlength && password.touched" class="error">Password must be atleast 8 characters</span>
        <br>
        <button type="submit" class="btn btn-secondary text-center"><i class="fa fa-sign-in"></i> PROCEED TO DASHBOARD</button>  
    </form>
    </div>
</div>
</div>
